---
import BaseLayout from "@/layouts/BaseLayout.astro";
import KForm from "@/components/KForm.astro";
import {actions, isInputError} from "astro:actions";
const result = Astro.getActionResult(actions.newsletter.subscribeToNewsletter);

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
if (result && !result.error) {
    return Astro.redirect(`/newsletter/registration-success?message=${result.data.message}`);
}
---
<BaseLayout>
    <main class="webpage-layout">
        <div id="coming-soon">
            <div class="card">
                <nav class="toolbar">
                    <div class="logo">
                        <img src="/app-logo.svg" alt="logo"/>
                    </div>

                    <h1 class="title">KITme app</h1>
                    <h2 class="subtitle">Coming soon...</h2>
                </nav>
                <div class="content">
                    <p>Il nuovo servizio social per tenere in contatto fornitori di servizi e utilizzatori, senza nessuna
                        pubblicit&agrave;</p>
                    <KForm action={actions.newsletter.subscribeToNewsletter}
                           identifier="comingsoon-newsletter-subscribe">
                        <Fragment slot="fields">
                            <label for="newsletter-email">
                                <span class="label">
                                Indirizzo e-mail
                                </span>
                                <input id="newsletter-email" name="email" type="email"/>
                                {inputErrors.email && (<p class="error" aria-live="polite">
                                    <span>{inputErrors.email.join(',')}</span>
                                </p>)}
                            </label>
                        </Fragment>
                        <Fragment slot="actions">
                            <button class="btn primary">
                                Iscriviti alla newsletter
                            </button>
                        </Fragment>
                    </KForm>

                </div>
            </div>
        </div>
    </main>
</BaseLayout>


<style>
    main.webpage-layout {
        @apply flex flex-col min-h-svh justify-start items-stretch;


    }

    #coming-soon {
        @apply flex-1 grid grid-cols-1  grid-rows-1 place-items-center;

        .card {
            @apply bg-amber-50 rounded p-8 drop-shadow-lg max-w-sm  px-4 py-6 relative;

            nav {
                font-family: var(--font-headings), sans-serif;

                .logo {
                    @apply absolute -right-9 -top-9 size-20 drop-shadow-md;
                }

                .title {
                    @apply text-xl md:text-2xl lg:text-4xl;
                }

                .subtitle {
                    @apply text-base md:text-xl lg:text-2xl;
                }
            }

            .content {
                @apply flex flex-col justify-start items-stretch gap-2.5;

                label {
                    @apply w-full flex flex-col justify-start items-stretch;

                    .label {
                        @apply ml-2 z-1000 bg-neutral-50 ring-amber-500 self-start px-0.5 border-amber-600 border rounded-sm text-xs border-dashed;
                    }

                    input {
                        @apply relative form-input rounded flex flex-col;
                        @apply px-2.5 py-1.5 border-amber-500;
                        @apply bg-neutral-50;
                        @apply shadow-inner drop-shadow-sm;
                        @apply transition-all duration-700 ease-in-out;
                        @apply -mt-1.5 z-10;

                        &:invalid {
                            @apply border-red-600 ring-red-700;

                            &:before {
                                content: "An error occurred";
                                display: inline-block;
                                position: absolute;
                                top: 20px;
                            }
                        }

                        &:hover {
                            @apply border-amber-700;
                        }

                        &:focus {
                            @apply border-lime-500 ring-lime-700;
                        }
                    }

                    .error {
                        @apply text-red-600 text-xs w-full self-stretch;
                    }
                }

            }
        }

        .btn {
            @apply px-2.5 py-1.5 rounded;
            @apply transition-all duration-700 ease-in-out;

            &.primary {
                @apply bg-stone-700 text-white;

                &:hover {
                    @apply bg-stone-800;
                }
            }
        }


    }
</style>