---
import LandingPageLayout from "../layouts/WebPageLayout.astro";
import ComingSoonWithSubscribeForm from "@/components/newsletters/ComingSoonWithSubscribeForm.astro";

import KRow from "../components/containers/KRow.astro";

---
<LandingPageLayout seo={{metaTitle: 'KITme app | Homepage'}}>
    <main class="webpage-layout">
        
        <ComingSoonWithSubscribeForm />
    </main>
</LandingPageLayout>


<style>
    main.webpage-layout {
        @apply flex flex-col min-h-svh justify-start items-stretch;
    }

</style>