---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout title="KITme | Newsletters" id="newsletters-page" contentLocale="it">
    <main class="webpage-layout">
        <section class="page-header">
            <h2 class="page-title">Segui la nostra newsletter</h2>
            <p class="page-intro">
                La newsletter di KITme.app è minima, ti inviamo solamente le informazioni più importanti per utilizzare al meglio la nostra app.
            </p>
        </section>
        <section class="page-content">
            <h3>Ecco un esempio delle utlime newsletter:</h3>
            <ul class="newsletters-list">
                <li class="newsletter-item"></li>
            </ul>
        </section>
    </main>
</BaseLayout>