---

import BaseLayout from "@/layouts/BaseLayout.astro";



---
<BaseLayout title="KIT.me | Benvenuto alla newsletter">
    
    <main class="webpage-layout">
        <section class="page-header">
            <h1 class="page-title text-sk-500">Ti sei iscritto alla newsletter con successo</h1>
            <p class="page-introduction">
                Di seguito un esemio delle e-mail che riceverai
            </p>
            <a href="/auth/registration">Registrati anche all'app.</a>
        </section>
        <section class="page-content">
        
        </section>
    </main>
</BaseLayout>