---
import WebPageLayout from './WebPageLayout.astro';

interface Props {
    Hero: any
    Cta: any
}
const {Hero, Cta} =Astro.props;
---
<WebPageLayout seo={{ metaTitle: "KITme | Authentication"}}>
    <main>
        <section class="hero-layout">
            <Hero />
        </section>
        <section class="cta-layout">
            <Cta />
        </section>
    </main>
</WebPageLayout>

<style>
    main {
        @apply min-h-svh;
        @apply grid grid-cols-2;
        
        .hero-layout {
            @apply absolute z-0 inset-0;
            filter: grayscale(80%);
        }
        
        .cta-layout {
            @apply absolute top-20 right-1/4;
            @apply z-10;
        }
    }
</style>