---
import '@fontsource-variable/kode-mono';
import '@fontsource-variable/eb-garamond';
import '@fontsource/abril-fatface';
import '@fontsource/sacramento';
import '@/styles/kitmeapp.scss';

import type {HTMLAttributes, ComponentProps} from 'astro/types';
import SearchEngineOptimization from '@/components/seo/SearchEngineOptimization.astro';


interface Props extends HTMLAttributes<'html'> {
    title?: string,
    contentLocale?: string,
}

const props = Astro.props;
const pageLocale = props.contentLocale ?? "en";
---

<html lang={pageLocale}>
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/app-logo.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}/>
    <slot name="seo"/>
</head>
<body>
<slot/>
</body>
</html>