---
import KForm from "@/components/forms/KForm.astro";
import KTextField from "@/components/forms/KTextField.astro";
import KCard from "../containers/KCard.astro";
import {actions, isInputError} from "astro:actions";

const result = await Astro.getActionResult(actions.authentication.loginWithCredentials);

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
console.log({inputErrors})
---

<KForm identifier="login" action={actions.authentication.loginWithCredentials}
       class="single-form-column"
>
    <KCard slotPadding="2px 8px 8px 8px">
        <Fragment slot="header">
            <h3 class="form-title">Registrati a KITme app</h3>
            <p class="form-intro">
                Utilizza la form sottostante per iscriverti alla nostra app e iniziare a pubblicizzare i tuoi servizi.
            </p>
            {result?.error && (
                <p>An error occurred:</p>
                <pre>
                    Code: {result.error.code}
                    Message: {result.error.message}
                </pre>
            )}
        </Fragment>
        <KTextField id="email" fieldLabel="E-mail" inputAttributes={{name: 'email', type: 'email'}}
                    state={(inputErrors && inputErrors["email"]) ? "withErrors" : "enabled"} errorText={inputErrors && inputErrors["email"]}/>
        <KTextField id="password" fieldLabel="Password" inputAttributes={{name: 'password', type: 'password'}}
                    state={(inputErrors && inputErrors["email"]) ? "withErrors" : "enabled"}
                    errorText={inputErrors && inputErrors["password"]}/>
        <Fragment slot="footer">
            <button type="submit" class="btn primary">
                Accedi
            </button>
        </Fragment>
    </KCard>
</KForm>